{{!-- Card --}}
<div class="row">
  <div class="col-sm-12">
    <br>
    <div class="card">
      <div class="card-header">
        <strong>
          <i class="fas fa-newspaper"></i>
          Articles
        </strong>
      </div>

      {{!-- Card for scraped articles --}}
      <div class="card-body" id="scrapedArticles">
        {{#unless articles}}
          <li class="list-group-item nothingScraped text-center">
            Oops! You seem to have missed a step!
            <br/>
            <button type="button" class="scrapeBtn btn btn-info" onclick="scrapeNewsBtn()">
              Get Some News!
            </button>
          </li>
        {{/unless}}

        <ul class="list-group list-group-flush">
          {{#each articles}}
            <li class="list-group-item articleTitle" data-id="{{_id}}"> {{title}}
              <div class="float-right">
                <a class="linkBtn btn" href="{{link}}" target="_blank">
                  <i class="fas fa-link fa-2x"></i>
                </a>
                <button type="button" class="saveBtn btn" data-title="{{title}}" data-link="{{link}}">
                  <i class="fas fa-save fa-2x"></i>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
