{{!-- Card --}}
<div class="row">
  <div class="col-sm-12">
    <br>
    <div class="card">
      <div class="card-header">
        <strong>
          <i class="far fa-save"></i>
          Saved
        </strong>
      </div>

      {{!-- Card for saved articles --}}
      <div class="card-body" id="savedArticles">
        <div class="accordion">
          {{#unless saved}}
            <div>
              <div class="card-header nothingSavedHead">
                <li class="list-group-item nothingSaved">
                  You haven't saved any articles
                </li>
              </div>
            </div>
          {{/unless}}

          {{#each saved}}
            <div>
              <div class="card-header savedArticleTitle row"> 
                <span class="col-9">
                  {{title}}
  
                  {{#if snip}} 
                    <br/>
                    <small class="text-muted">{{snip}}</small> 
                  {{/if}}
                </span>
                {{!-- Buttons --}}
                <span class="col text-right">
                  {{!-- Link Button --}}
                  <a class="savedLinkBtn btn" href="{{link}}" target="_blank" data-id="{{_id}}">
                    <i class="fas fa-link fa-2x"></i>
                  </a>
                  {{!-- Trash/Un-save Button --}}
                  <button type="button" class="trashBtn btn" data-id="{{_id}}">
                    <i class="fas fa-trash-alt fa-2x"></i>
                  </button>
                  {{!-- Note Button --}}
                  <button type="button" class="noteBtn btn" data-toggle="collapse" data-target="#collapse{{_id}}" aria-expanded="false" aria-controls="collapseNote" data-id="{{_id}}">
                    <i class="fas fa-sticky-note fa-2x"></i>
                  </button>
                  {{!-- If Read --}}
                  <button type="button" class="seenBtn btn" data-id="{{_id}}">
                    {{#if isRead}}
                      <i class="fas fa-eye fa-2x" data-id="{{_id}}"></i>
                    {{/if}}
                    {{#unless isRead}}
                      <i class="fas fa-eye-slash fa-2x" data-id="{{_id}}"></i>
                    {{/unless}}
                  </button>
                </span>
            </div>

            <div class="collapse" id="collapse{{_id}}">
              <form>
                <div class="form-group text-center">
                  <label for="articleNotes"> Write a New Note </label>
                  <textarea class="form-control" id="articleNote" rows="3" data-id="{{_id}}"></textarea>
                </div>
                <button type="submit" class="btn btn-block noteSaveBtn" data-id="{{_id}}"> Save </button>
              </form>
              <div class="card card-body noteText" data-id="{{_id}}">
              </div>
            </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>